@model IEnumerable<mert_polat_211103040.DAL.iletişim>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutPageAdmin.cshtml";
}

<h2></h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.adres)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.mail)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.telefon)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fax)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.mobil)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.adres)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.mail)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.telefon)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fax)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.mobil)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.iletişimid }) |
            @Html.ActionLink("Details", "Details", new { id=item.iletişimid }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.iletişimid })
        </td>
    </tr>
}

</table>
